<div id="f">
    <p>This Page is not a Copyright Product.</p>
    <p>This is for Learning Purpose.</p>
    <p>Help Center.</p>
    <p>For Queries Contact:  9639103550</p>
    <p>This App is created by :</p>
    <p>Shubham Gupta and Jatin Agrawal.</p>
</div>